*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /*  colors  */
    --background-color:#212121;
    --text-color:#FFFFFF;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--text-color);
}



.top{
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
}

.top .item{
    padding: 1rem;
    border-radius: 15px;
    text-transform: uppercase;
    border: 2px solid white;
}